body{
    background: #bdc3c7;  
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);
    background: linear-gradient(to top, #2c3e50, #bdc3c7);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
    text-decoration: none;
    color: inherit;
    outline: 0;
}