{% extends 'base.html' %}

{% block content %}
<form method="post">
    <div class="card container bg-dark" style="text-align: center; margin-top: 3rem; padding: 1rem;">
        <table class="table-dark table-striped table-hover ">
            <thead>
            <tr>
                <th scope="col">Sr No</th>
                <th scope="col">Student ID</th>
                <th scope="col">Student Name</th>
                <th scope="col">Present</th>
            </tr>
            </thead>
            <tbody>
                {% for student in student_attendance %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{student['studentID']}}</td>
                        <td>{{student['studentName']}}</td>
                        {% if student['isPresent'] %}
                            <td><input style="width: 20px; height:20px" class="check" checked type="checkbox" name="{{student['studentID']}}" value="True" id="{{student['studentID']}}"></td>
                        {% else %}
                            <td><input style="width: 20px; height:20px" class="check" type="checkbox" name="{{student['studentID']}}" value="True" id="{{student['studentID']}}"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row mt-4">
            <div class="col-sm">
                <button type="submit" class="btn btn-primary" value="Save">Submit</button>
            </div>
            <div class="col-sm">
                <button type="button" onclick='selects()' class="btn btn-success">Mark Everyone Present</button>
            </div>
            <div class="col-sm">
                <button type="button" onclick='deSelect()' class="btn btn-danger">Mark Everyone Absent</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">  
    function selects(){  
        var ele=document.getElementsByClassName('check');  
        for(var i=0; i<ele.length; i++){  
            if(ele[i].type=='checkbox')  
                ele[i].checked=true;  
        }  
    }  
    function deSelect(){  
        var ele=document.getElementsByClassName('check');  
        for(var i=0; i<ele.length; i++){  
            if(ele[i].type=='checkbox')  
                ele[i].checked=false;  
        }  
    }             
</script> 

{% endblock %}